table {
  width: 600px;
  border-collapse: separate/*collapse*/;
}


th, td {
  padding: 7px;
}

th {
  text-transform: uppercase;
  borderr-top: 1px solid #999;
  border-bottom: 1px solid #111;
  text-align: left;
  font-size: 90%;
  letter-spacing: 0.1em;
}
tr.alternate {
  background-color: #efefef;
}

tr:hover {
  background-color: #c3e6e5;
}

.number {
  text-align: right;
}